@media (min-width:400px){
  main#main-doc{
    width:75%;
    float:right;
    line-height:1.5;
  }
  section.main-section{
    padding:20px;
  }
  /*side barın scrollamasını overflow ile yaptım. */
  nav{
    display:block;
    overflow-y:auto;
    overflow-x:hidden;
  }
  nav#navbar{
    position:fixed;
    width:25%;
    float:left;
    height:100%;
    border-right:1px solid silver;
  }
  nav header{
    text-align:center;
  }
  a{
    text-decoration:none;
    display:block;
    color:black;
    margin-bottom:15px;
    border-top:1px solid black;
    padding:10px;
    
  }
  code{
    display:block;
    padding:10px;
    background-color:silver;
  }